/* General */
.section {
    margin: 20px 15px;
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    text-align: left;
  }
  
  /* Perfil del vendedor */
  .profile-item {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .profile-item ion-avatar {
    width: 80px;
    height: 80px;
    margin-right: 15px;
  }
  
  .profile-item h2 {
    font-size: 1.3rem;
    color: #2c3e50;
    margin-bottom: 5px;
  }
  
  .profile-item p {
    font-size: 1rem;
    color: #7f8c8d;
  }
  
  ion-icon {
    color: #f39c12;
    margin-right: 3px;
  }
  
  /* Imagenes de productos */
  .product-item {
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
  }
  
  .product-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 15px;
  }
  
  .product-item ion-label h2 {
    font-size: 1.2rem;
    color: #34495e;
  }
  
  .product-item ion-label p {
    font-size: 1rem;
    color: #95a5a6;
  }
  
  /* Comunidad - Publicaciones de imágenes y videos */
  .community-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .community-item ion-label {
    margin-bottom: 10px;
    color: #2c3e50;
  }
  
  .community-image {
    width: 50%;        /* Porcentaje de vista de imagen de pulicaciones de comunidad */
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .community-item ion-label h2 {
    font-size: 1rem;
    font-weight: bold;
    color: #34495e;
    text-align: left;
    margin-bottom: 10px;
  }
  
  /* Efecto hover en imágenes */
  .community-image:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilo para sección de videos */
  .community-video {
    width: 100%;
    height: 250px;
    background-color: #333;
    border-radius: 12px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .community-video video {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
  }
  
  